*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor-principal{
    margin: auto;
    max-width: 1200px;
    position: relative;
}
.article1{
    display: flex;
    width: 50%;
    align-items: center;
    padding: 20px;
}
h1{
    padding: 20px;
}
p{
    padding: 20px;
}

.icon-chevron{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:  100%;
    top: 35%;
    
}
.slide{
    padding: 20px;
    min-width: 33%;
}

.btn{
    padding: 10px;
    width: 50px;
    text-decoration: none;
    background-color: darkred;
    color: white;
    }